.error_msg{
       	float: none;
		color:#ff0000;
		font-size:13px;
		position: absolute;
    right: 35px;
    top: 12px;
		
  }
  .status{
			font-size:14px;
			color: #E98506;
			text-align: center;
			margin-bottom: 10px;
}
.left {padding: 30px; height: auto; float: left;}

.success_color{
  margin-bottom: 25px;
  color: #bc8a5d;
}