body{
  background-color: #000;
    font-family: 'Bahnschrift';
}
@font-face {
    font-family: 'Bahnschrift';
    src: url('../fonts/Bahnschrift.eot');
    src: url('../fonts/Bahnschrift.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Bahnschrift.woff2') format('woff2'),
        url('../fonts/Bahnschrift.woff') format('woff'),
        url('../fonts/Bahnschrift.ttf') format('truetype'),
        url('../fonts/Bahnschrift.svg#Bahnschrift') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.he_login{
  background: #000105;
  width: 100%;
  background-size:cover;
  height:75vh;
}
.login-page{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  padding: 20px;
  background: #022544;
  border-radius: 30px;
  color: white;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
.logo img{
  margin: 0 0 20px;
  width: 75%
}
.login-page .card{
  background-color: inherit !important;
  height: auto;
}
.card-plain {
  background: none;
  box-shadow: none;
  padding: 1em 0;
  border: none;
}
.card-header:first-child{
  border:none;
}
.input-group {
    margin-bottom: 10px;
    position: relative;
}
.input-group .input-group-prepend {
    margin-right: 0;
}
.login-page .card-login.card-plain .input-group-text, .login-page .card-login.card-plain .input-group.no-border .input-group-text {
    color: rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.1);
}
.input-group-text i {
    width: 17px;
    margin: 0 0 0 5px
}/*
.login-page .card-login.card-plain .input-group.no-border .form-control {
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
    border:none;
}
.login-page .card-login.card-plain .form-control {
    border-color: rgba(255, 255, 255, 0.5);
}*/  
.input-group.no-border.input-lg .form-control {
    padding: 5px 19px;
    background: #022544;
    border: solid 1px #445d72;
    color: #fff;
    border-radius: 0px 30px 30px 0;
    height: 47px;
    font-size:15px;
    text-align:left
  }
.navbar-toggler{
  background: #a7a69e;
    margin: 0 10px;
    position: absolute;
    right: 0;
    left: 0;
    padding: 6px;
    top: 15px;
    width:45px;
}
.mn_right{
	padding:0 25px
}
.form-control{
  border-radius: 30px;
}
.input-group.no-border .input-group-prepend .input-group-text {
    background-color: rgba(222, 222, 222, 0.3);
    border: solid 1px #445d72;
    border-left: solid 1px #445d72 !important;
    border-right: 0;
    color: #fff
}
.input-group-text {
    border-radius: 30px;
}
.btn-round {
    border: none;
    border-radius: 30px
}
.btn-primary {
    background-image: linear-gradient(#3d6ca5, #043c65);
    color: #FFFFFF;
}
.card-footer h6 a{
  margin: 20px 0 0;
  color: #fff;
  display: block;
  text-align: center;
}



/*Dashboard*/
.nav-item {
    margin: 0 auto;
    padding: 0 12px;
    text-align: center;
}
.navbar-nav .nav-item a {
    color: #FFF;
    text-decoration: none;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
}
.he_login .nav-item a {
  padding: 10px;
  margin: 0;
  color: #fff !important
}
.he_login .mn_right .nav-item a i{
  font-size: 20px
}
.navbar-nav .nav-item.active .nav-link, .navbar-nav .nav-item:hover .nav-link, .navbar-nav .nav-item:focus .nav-link{
  color: #fff
}
.mn_dashboard, .mn_edit{
  width: 100%;
  float: left;
  text-align: center;
  margin: 0px 0 0
}
.mn_dashboard h1{
  color: #fff;
  font-size: 45px;
  font-style: italic;
  color: #a7a7a7;
  margin: 30px 0 20px 0;
}
.mn_dashboard h1 span{
  text-transform: uppercase;
  font-style: italic;
      margin: 20px 0 0;
    display: block;
}
.mn_dashboard img{
  width: 400px;
  margin: 20px 0
}
.mn_fte{
  width: 100%;
  float: left;
  margin: -13% 0 0 0
}
.mn_fte img{
  width: 100%;
/*  transform: rotate(-180deg);
*/}
.mn_right .dropdown-menu{
  width: 16rem;
}
.dropdown-menu{
  width: auto;
  left: 25px;
  background: #000;
  padding: 0
}
.mn_r{
  right: 0;
  left: auto;
}
.dropdown-item:focus, .dropdown-item:hover{
  background: #285ba7
}
.dropdown-toggle::after{
  content: "\f107";
  border:none;
  font-family: 'FontAwesome';
  top: 10px;
    position: absolute;
    margin: 0 7px;
}
.toggle {
  position: relative; 
  width: 65px;
  -webkit-user-select:none; 
  -moz-user-select:none; 
  -ms-user-select: none;
}
.toggle-checkbox {
  display: none;
}
.toggle-label {
  display: block; 
  overflow: hidden; 
  cursor: pointer;
  border: 2px solid #FFF; 
  border-radius: 30px;
}
.toggle-inner {
  display: block; 
  width: 200%; 
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.toggle-inner:before,
.toggle-inner:after {
  display: block; 
  float: left; 
  width: 61px; 
  height: 20px;
  padding: 0;
  line-height: 20px;
  font-size: 12px; 
  color: white;
  font-weight: bold;
  box-sizing: border-box;
}
.toggle-inner:before {
  content: "ON";
  padding-left: 0px;
  background-color: #285ba7;
}
.toggle-inner:after {
  content: "OFF";
  padding-right: 14px;
  background-color: #dadada; color: #333333;
  text-align: right;
}
/*Bolita*/
.toggle-switch {
  display: block; 
  width: 18px; 
  margin: 4px;
  background: #FFFFFF;
  position: absolute; 
  top: 0; 
  bottom: 0;
  right: 39px;
  border: 2px solid #FFFFFF; 
  border-radius: 30px;
  transition: all 0.3s ease-in 0s; 
}
.toggle-checkbox:checked + .toggle-label .toggle-inner {
  margin-left: 0;
}
.toggle-checkbox:checked + .toggle-label .toggle-switch {
  right: 0px; 
}
.input{
  float: right;
}
.form-group{
  margin: 0
}
.form-group label{
  margin: 0
}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}


.navbar-brand img{
  width: 200px
}
.mn_edit_profile, .mn_success{
  background: #022544;
  border-radius: 30px;
  width: 100%;
  padding:15px 0 15px 0;
  float: left;
}
.mn_success{
  background: none;
  margin: 30px 0 0 0
}
.mn_success i{
  color: #469002;
  font-size: 90px
}
.mn_success h2{
  color: #fff;
  margin: 20px 0
}
.mn_success p{
  color: #fff;
  line-height: 30px;
  margin: 0 0 15px 0
}
.mn_edit_profile h2, .mn_edit h2{
  padding: 20px 0px;
  color: #fff;
}
.mn_edit_profile p{
  color: #fff
}
.mn_re{
  display: block;
}
.mn_fronter{
  overflow: auto;
  width: 100%;
  float: left;
}
.login-page .card-footer{
  border-top:none;
}
.card-footer{
  border-top:solid 1px #445d72;
  background:none;
}
.dataTables_wrapper{
  width: 100%;
  display: block;
  padding: 0 15px;
  overflow: auto; 
}
.dataTables_length{
  float: left;
    color: #fff;
}
.dataTables_filter{
  color: #fff;
  float: right;
}
.dataTable th, .dataTable td{
  color: #fff;
  text-align: left;
  border-top: 0;
  border-bottom: solid 1px #ddd;
}
.dataTables_length select{
  margin: 0 10px;
  border-radius: 15px;
    padding: 5px;
}
.pagination{
  float: right;
}
.pagination li a{
  color: #fff;
  float: right;
  padding: 10px
}
#countdown{
  text-align: center;
}

#countdown #tiles{
  position: relative;
  z-index: 1;
}

#countdown #tiles > span, .mn_deals{
  width: 92px;
  max-width: 92px;
  font-size: 48px;
  text-align: center;
  color: #111;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(top, #bbb, #eee); 
  background-image:    -moz-linear-gradient(top, #bbb, #eee);
  background-image:     -ms-linear-gradient(top, #bbb, #eee);
  background-image:      -o-linear-gradient(top, #bbb, #eee);
  border-top: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
  margin: 0 7px;
  padding: 15px 0;
  display: inline-block;
  position: relative;
}


#countdown .labels{
  width: 100%;
  height: 25px;
  text-align: center;
  position: absolute;
  bottom: 8px;
}

#countdown .labels li{
  width: 102px;
  color: #f47321;
  text-shadow: 1px 1px 0px #000;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}
.mn_time_left{
  background: #0e375c;
    padding: 20px;
    border-radius: 10px;
    margin: 15px 15px;
    height:225px;
}
.mn_time_left h2{
 
  color: #333;
  padding:0;
  margin: 0
}
.mn_time_left h1{
  color: #fff
}
.mn_week{
  width: 100%;
  text-align: left;
  color: #fff;
  padding:15px
}
.mn_week textarea{
  margin: 0 0 10px 0;
}
.dataTables_info{
  color: #fff;
  float:left;
  padding:10px 15px 0px;
  text-align: left;
}
#searchText{ width: 100%;
    height: 40px;
    border-radius: 25px;
    border: none;
    font-size: 15px;
    text-align: left;
    padding: 0 15px;
}
.dataTables_paginate{
	float:right
}
.mn_deals input{
  border:none;
  background: none;
  width: 55px
}
.table thead th, .table tbody td{
  color: #fff;
  padding: 7px 15px 0;
  text-align: left;
}
.mn_edit_profile input{
  width: 80px;
  border-radius: 15px;
  padding: 0;
  font-size: 50px;
  text-align: center;
}
.mn_edit_profile .table{
  overflow: auto;
}
.card-body{
  padding:0 1.25rem
}
.dataTables_wrapper select{
  border-radius:20px;
  padding:0 3px
} 
.table td, .table th{
  text-align: left;
  color: #fff
}
.mn-half{
  width: 50%;
  float: left;
  padding: 0 10px 0 0 
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1; /* Firefox */
}

/*BELL*/
.mn_bell, .mn_congrats{
  margin: 0;
  background: none;
}
.mn_bell img{
  width: 100%;
  border-radius: 15px;
}
.mn_congrats img{
  width: 100%;
  border-radius: 15px
}


/*Message board*/
.chat{
  margin-top: auto;
  margin-bottom: auto;
}
.card{
  height: 500px;
  border-radius: 15px;
  background-color: rgba(0,0,0,0.4);
}
.contacts_body{
  padding:  0.75rem 0;
  overflow-y: auto;
  white-space: nowrap;
}
.msg_card_body{
  overflow-y: auto;
}
.card-header{
  border-radius: 15px 15px 0 0;
  border-bottom: 0;
  background:none;
}
.card-footer{
  border-radius: 0 0 15px 15px;
  border-top: 0;
}
.container{
  align-content: center;
}
.search{
  border-radius: 15px 0 0 15px;
  background-color: rgba(0,0,0,0.3);
  border:0;
  color:white;
}
.search:focus{
   box-shadow:none;
     outline:0px;
}
.type_msg{
  background-color: rgba(0,0,0,0.3);
  border:0 ;
  color:white;
  height: 60px;
  overflow-y: auto;
}
.type_msg:focus{
   box-shadow:none;
     outline:0px;
}
.attach_btn{
border-radius: 15px 0 0 15px;
background-color: rgba(0,0,0,0.3);
  border:0;
  color: white;
  cursor: pointer;
}
.send_btn{
border-radius: 0 15px 15px 0;
background-color: rgba(0,0,0,0.3);
  border:0;
  color: white;
  cursor: pointer;
}
.search_btn{
  border-radius: 0 15px 15px 0;
  background-color: rgba(0,0,0,0.3);
  border:0;
  color: white;
  cursor: pointer;
}
.contacts{
  list-style: none;
  padding: 0;
}
.contacts li{
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 15px;
}
.active{
  background-color: rgba(0,0,0,0.3);
}
.user_img{
  height: 70px;
  width: 70px;
  border:1.5px solid #f5f6fa;
}
.user_img_msg{
  height: 40px;
  width: 40px;
  border:1.5px solid #f5f6fa;
}
.img_cont{
  position: relative;
  height: 70px;
  width: 70px;
}
.img_cont_msg{
  height: 40px;
  width: 40px;
}
.online_icon{
position: absolute;
height: 15px;
width:15px;
background-color: #4cd137;
border-radius: 50%;
bottom: 0.2em;
right: 0.4em;
border:1.5px solid white;
}
.offline{
background-color: #c23616 !important;
}
.user_info{
margin-top: auto;
margin-bottom: auto;
margin-left: 15px;
}
.user_info span{
font-size: 20px;
color: white;
}
.user_info p{
font-size: 10px;
color: rgba(255,255,255,0.6);
}
.video_cam{
margin-left: 50px;
margin-top: 5px;
}
.video_cam span{
color: white;
font-size: 20px;
cursor: pointer;
margin-right: 20px;
}
.msg_cotainer{
margin-top: auto;
margin-bottom: auto;
margin-left: 10px;
border-radius: 25px;
padding: 10px 0;
position: relative;
float:left;
width:80%
}

.text_message{
	width:100%;
	float:left;
}
.msg_cotainer_send .text_message_sender{
	width:100%;
	text-align: right;
    float: right;
}
.msg_cotainer span, .msg_cotainer_send span{
	color:#fff;    display: block;
    text-align: left;
}
.msg_cotainer p, .msg_cotainer_send p{
background-color: #82ccdd;
    border-radius: 15px;
    padding: 5px 10px;
    float:left;
    margin:0
	
}
.msg_cotainer_send .msg_time_send{
	float:right;
	text-align:right
}
.msg_cotainer_send p{
	float:right;
background-color: #78e08f;
}
.msg_cotainer_send{
margin-top: auto;
margin-bottom: auto;
margin-right: 10px;
border-radius: 25px;
padding: 10px;
position: relative;
float:left;
width:80%
}
.d-content-end-flex{
	display:flex;
	justify-content: flex-end!important;
}
.msg_time, .msg_time_send{
color: rgba(255,255,255,0.5);
font-size: 12px;
float: left;
    margin: 10px;
}
.msg_head{
position: relative;
}
#action_menu_btn{
position: absolute;
right: 10px;
top: 10px;
color: white;
cursor: pointer;
font-size: 20px;
}
.action_menu{
z-index: 1;
position: absolute;
padding: 15px 0;
background-color: rgba(0,0,0,0.5);
color: white;
border-radius: 15px;
top: 30px;
right: 15px;
display: none;
}
.action_menu ul{
list-style: none;
padding: 0;
margin: 0;
}
.action_menu ul li{
width: 100%;
padding: 10px 15px;
margin-bottom: 5px;
}
.action_menu ul li i{
padding-right: 10px;
}
.action_menu ul li:hover{
cursor: pointer;
background-color: rgba(0,0,0,0.2);
}
.scrollbar ::-webkit-scrollbar {
  width: 8px;
  background: #2d3436;
}
.scrollbar ::-webkit-scrollbar-thumb {
  background: #636e72;
  border-radius: 8px;
}
:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}
.mn_none, .mn_none1{
	border-radius: 25px;
    padding: 6px 20px;
    margin: 0 0 10px 0;
    background:#b4b4b4;
}
.mn_none1{
    background:#285ba7;
    color:#fff
	
}


.pagin{
	    display: inherit;
    float: right;
    list-style:none;
}
.pagination {
    float: right;
}
.nopad{
	padding:0
}
.no_pad_left{
	padding-left:0
}
.no_pad_right{
	padding-left:0
}
.mn_edit_profile label{
	color:#fff;
	margin: 5px 0 0;
	float:left
}
.fa-trash{
	background:none;
	color:#fff;
	margin:0
}
.mn_padding{
	padding:0 30px
}
.table select, .table input{
	border-radius:15px;
	border:none;
}

table.dataTable{clear:both;margin-top:6px !important;margin-bottom:6px !important;max-width:none !important;border-collapse:separate !important}table.dataTable td,table.dataTable th{-webkit-box-sizing:content-box;box-sizing:content-box}table.dataTable td.dataTables_empty,table.dataTable th.dataTables_empty{text-align:center}table.dataTable.nowrap th,table.dataTable.nowrap td{white-space:nowrap}div.dataTables_wrapper div.dataTables_length label{font-weight:normal;text-align:left;white-space:nowrap}div.dataTables_wrapper div.dataTables_length select{width:75px;display:inline-block}div.dataTables_wrapper div.dataTables_filter{text-align:right}div.dataTables_wrapper div.dataTables_filter label{font-weight:normal;white-space:nowrap;text-align:left}div.dataTables_wrapper div.dataTables_filter input{margin-left:0.5em;display:inline-block;width:auto}div.dataTables_wrapper div.dataTables_info{padding-top:8px;white-space:nowrap}div.dataTables_wrapper div.dataTables_paginate{margin:0;white-space:nowrap;text-align:right}div.dataTables_wrapper div.dataTables_paginate ul.pagination{margin:2px 0;white-space:nowrap}div.dataTables_wrapper div.dataTables_processing{position:absolute;top:50%;left:50%;width:200px;margin-left:-100px;margin-top:-26px;text-align:center;padding:1em 0}table.dataTable thead>tr>th.sorting_asc,table.dataTable thead>tr>th.sorting_desc,table.dataTable thead>tr>th.sorting,table.dataTable thead>tr>td.sorting_asc,table.dataTable thead>tr>td.sorting_desc,table.dataTable thead>tr>td.sorting{padding-right:30px}table.dataTable thead>tr>th:active,table.dataTable thead>tr>td:active{outline:none}table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_asc_disabled,table.dataTable thead .sorting_desc_disabled{cursor:pointer;position:relative}table.dataTable thead .sorting:after,table.dataTable thead .sorting_asc:after,table.dataTable thead .sorting_desc:after,table.dataTable thead .sorting_asc_disabled:after,table.dataTable thead .sorting_desc_disabled:after{position:absolute;bottom:8px;right:8px;display:block;font-family:'FontAwesome';opacity:0.5}table.dataTable thead .sorting:after{opacity:0.2;content:"\f160"}table.dataTable thead .sorting_asc:after{content:"\f161"}table.dataTable thead .sorting_desc:after{content:"\f160"}table.dataTable thead .sorting_asc_disabled:after,table.dataTable thead .sorting_desc_disabled:after{color:#eee}div.dataTables_scrollHead table.dataTable{margin-bottom:0 !important}div.dataTables_scrollBody>table{border-top:none;margin-top:0 !important;margin-bottom:0 !important}div.dataTables_scrollBody>table>thead .sorting:after,div.dataTables_scrollBody>table>thead .sorting_asc:after,div.dataTables_scrollBody>table>thead .sorting_desc:after{display:none}div.dataTables_scrollBody>table>tbody>tr:first-child>th,div.dataTables_scrollBody>table>tbody>tr:first-child>td{border-top:none}div.dataTables_scrollFoot>.dataTables_scrollFootInner{box-sizing:content-box}div.dataTables_scrollFoot>.dataTables_scrollFootInner>table{margin-top:0 !important;border-top:none}@media screen and (max-width: 767px){div.dataTables_wrapper div.dataTables_length,div.dataTables_wrapper div.dataTables_filter,div.dataTables_wrapper div.dataTables_info,div.dataTables_wrapper div.dataTables_paginate{text-align:center}}table.dataTable.table-condensed>thead>tr>th{padding-right:20px}table.dataTable.table-condensed .sorting:after,table.dataTable.table-condensed .sorting_asc:after,table.dataTable.table-condensed .sorting_desc:after{top:6px;right:6px}table.table-bordered.dataTable th,table.table-bordered.dataTable td{border-left-width:0}table.table-bordered.dataTable th:last-child,table.table-bordered.dataTable th:last-child,table.table-bordered.dataTable td:last-child,table.table-bordered.dataTable td:last-child{border-right-width:0}table.table-bordered.dataTable tbody th,table.table-bordered.dataTable tbody td{border-bottom-width:0}div.dataTables_scrollHead table.table-bordered{border-bottom-width:0}div.table-responsive>div.dataTables_wrapper>div.row{margin:0}div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:first-child{padding-left:0}div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:last-child{padding-right:0}


/*CSS for Header notificatiosn count icon */
.icon-badge-group .icon-badge-container {
    display: inline-block;
    margin-left:15px;
}

 

.icon-badge-group .icon-badge-container:first-child { 
  margin-left:0;
}

 

.icon-badge-container {
    margin-top: 0;
    position: absolute;
    padding: 0 5px;
    right: 10px;
    top: 35px
}

 

.icon-badge-icon {
    font-size: 30px;
    position: relative;
}

 

.icon-badge {
    background-color: red;
    font-size: 12px;
    color: white;
    text-align: center;
    width:20px;
    height:20px;
    border-radius: 100%;
    position: absolute; /* changed */
    top: -13px;
    left: 15px;
}
.notification-bell{
		color:white;
		font-size:20px

	}

.nav.fixed {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    background:#000
}

/* .nav{height:100px} */


.nopad-left{
	padding-left:0
}





.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px
    ;min-width: 35px;
    text-align: center;
}
.qty .plus, .xferplus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    }
.qty .minus, .xferminus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}
div {
    text-align: center;
}
.minus:hover, .xferminus:hover{
    background-color: #717fe0 !important;
}
.plus:hover, .xferplus:hover{
    background-color: #717fe0 !important;
}
.qty p{
	height:30px;border-radius:100px;
	display:inline-block;color: #fff;
    padding: 3px 10px;margin:0
}
.mt-25_m{    margin-top: 2.5rem!important;}


@media (min-width: 992px){
  .dropdown-menu .dropdown-toggle:after{
      border-top: .3em solid transparent;
      border-right: 0;
      border-bottom: .3em solid transparent;
      border-left: .3em solid;
  }
  .dropdown-menu .dropdown-menu {
    margin-left:0; margin-right: 0;
  }
  .dropdown-menu li{
    position: relative;
  }
  .nav-item .submenu{ 
    display: none;
    position: absolute;
    left:100%; top:-7px;
  }
  .nav-item .submenu-left{ 
    right:100%; left:auto;
  }
  .dropdown-menu > li:hover{ background-color: #f1f1f1 }
  .dropdown-menu > li:hover > .submenu{
    display: block;
  }
}
@media (max-width: 1200px) {
  .navbar{
    padding: 0 15px
  }
  .icon-badge-container {
    top: 25px
}
  .notification-bell{
		font-size:25px

	}
  
  .nav-item {
      margin: 0;
      padding: 0 1em;
  }
  .dropdown-item{
    text-align: center;
    background: #011a2f;
  }
  .mn_right .dropdown-menu {
    margin: 0 auto;
}
.mn_r .dropdown-item {
    text-align: left;
    background: #011a2f;
}
  .navbar-brand{
        margin: 0 auto;
  }
  .navbar-collapse{
        background: #022544;
  }
}
@media (max-width: 990px) {

  .no_pad_left{
  	padding-left:0px
  }
  .mn_padding {
    padding: 0 15px;
}
}
@media (max-width: 768px) {
  .mr-3, .mx-3{
    margin: 0 0 10px !important
  }
  .mn_none, .mn_none1{
  	margin-top:0px
  }
  .mn_padding {
    padding: 0 0 0 45px;
}
.mn_week{
	padding:15px 0
}
}
@media(max-width: 575px){
  .contacts_card{
    margin-bottom: 15px !important;
  }
   .mn_padding {
    padding: 0 45px;
}
 .mn_none, .mn_none1{
  	margin-top:10px
  }
}

@media (max-width: 400px) {
  .login-page{
    width: 100%
  }
  .logo img{
    width: 100%
  }
  .mn_dashboard img {
    width: 90%;
    margin: 20px 0;
}
.mn_edit_profile, .mn_success{
 
  padding:15px 10px;
  
}
}

.mn_fronter input{
width: 80px;
    height: 30px;
    font-size: 15px;
    text-align: left;
    padding: 0 15px;}

